@model dynamic
@{ Layout = "_Layout"; }

<p>
    Hi @Model?.MemberName,
</p>
<p>
    Your consultation request with Dr. @Model?.DoctorName and booking reference number is @Model?.ConsultationId is cancelled successfully<br />
    If you still want to consult Dr. @Model?.DoctorName, please raise a new request.
</p>