@model dynamic
@{ Layout = "_Layout"; }

<p>
    Hi Dr. @Model?.DoctorName,
</p>
<p>
    A consultation request with @Model?.MemberName and booking reference number is @Model?.ConsultationId was cancelled
</p>