@model dynamic
@{ Layout = "_Layout"; }

<p>
    Hi @Model?.MemberName,
</p>
<p>
    Your consultation request was accepted by Dr. @Model?.DoctorName<br />
    Please pay using <a>@($"https://cloudconsult/payment/{Model?.ConsultationId}")</a> to confirm the consultation request.
</p>