@using CloudConsult.UI.Blazor.Themes
@inherits LayoutComponentBase

<style>
    body {

        background: url(images/green-background.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudPaper Elevation="25" Class="pa-8" Width="100%" MaxWidth="500px">
            @Body
        </MudPaper>
    </div>
</MudContainer>

@code { private readonly MudTheme _currentTheme = new DefaultTheme(); }