@model dynamic
@{ Layout = "_Layout"; }

<p>
    Hi @Model?.FullName,
</p>
<p>
    Welcome aboard.<br />
    Your profile was created successfully.<br />
    You can now look for listed doctors and request consultations with them.
</p>