@model dynamic
@{ Layout = "_Layout"; }

<p>
    Hi Dr. @Model?.FullName,
</p>
<p>
    Your KYC documents were successfully verified and approved by an administrator.<br />
    Your profile will now show up in search results.
</p>