@model dynamic
@{ Layout = "_Layout"; }

<p>
    Hi Dr. @Model?.FullName,
</p>
<p>
    Welcome aboard.<br />
    Your profile was created successfully but you will not be listed on our search till you get your KYC approved by our administration team.<br />
    Please upload your KYC documents.
</p>